# 판다스 기초
## Pandas
 - 수식으로 계산할 수 있고 시각화도 할 수 있는 데이터 분석도구

In [1]:
# Pandas 라이브러리 호출 및 별칭 pd로 설정
import pandas as pd

In [2]:
# DataFrame 생성 a,b,c 컬럼과 1,2,3 row의 2차원 matrix
df = pd.DataFrame(
    {
        "a" : [4, 5, 6],
        "b" : [7, 8, 9],
        "c" : [10, 11, 12]
    },
    index = [1, 2, 3]
)
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [3]:
# a컬럼의 series type 조회
df["a"]

1    4
2    5
3    6
Name: a, dtype: int64

In [5]:
type(df["a"])

pandas.core.series.Series

In [6]:
type(df[["a"]])

pandas.core.frame.DataFrame

In [7]:
# Series를 dataFrame 형태로 출력
df[["a"]]

   a
1  4
2  5
3  6